
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="confirmation-icon"><i class="fa fa-check"></i></div>
    <h2>Cảm ơn bạn đã mua sản phẩm của chúng tôi</h2>
    <p class="mb-5">Vui lòng kiểm tra thông tin đơn hàng về Email của bạn</p>
    @*<p> <a href="customer-order.html" class="btn btn-template wide">View or manage your order</a></p>*@
</div>

