<div id="left-sidebar" class="sidebar">
    <div class="navbar-brand">
        <a href="/Admin/Home/Index">

            <img src="~/Assets/Admin/oculux/puffintheme.com/demo/oculux/assets/images/icon.svg" alt="Oculux Logo" class="img-fluid logo"><span>Oculux</span>
        </a>
        <button type="button" class="btn-toggle-offcanvas btn btn-sm float-right"><i class="lnr lnr-menu icon-close"></i></button>
    </div>
    <div class="sidebar-scroll">
        <div class="user-account">
            <div class="user_div">

                <img src="~/Assets/Admin/oculux/puffintheme.com/demo/oculux/assets/images/user.png" class="user-photo" alt="User Profile Picture">
            </div>
            <div class="dropdown">
                <span>Welcome,</span>
                <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown"><strong>Louis Pierce</strong></a>
                <ul class="dropdown-menu dropdown-menu-right account vivify flipInY">
                    <li><a href="page-profile.html"><i class="icon-user"></i>My Profile</a></li>
                    <li><a href="app-inbox.html"><i class="icon-envelope-open"></i>Messages</a></li>
                    <li><a href="javascript:void(0);"><i class="icon-settings"></i>Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="page-login.html"><i class="icon-power"></i>Logout</a></li>
                </ul>
            </div>
        </div>
        <nav id="left-sidebar-nav" class="sidebar-nav">
            <ul id="main-menu" class="metismenu">
                <li class="header">Main</li>
                <li><a href="#"><i class="icon-speedometer"></i><span>Dashboard</span></a></li>
                <li>
                    <a href="#Danhmuc" class="has-arrow"><i class="icon-list"></i><span>Danh mục</span></a>
                    <ul>
                        <li><a href="/Admin/MainCategory/Index">Danh mục tổng</a></li>
                        <li><a href="/Admin/Category/Index">Danh mục</a></li>
                        <li><a href="/Admin/SubCategory/Index">Danh mục con</a></li>
                        <li><a href="/Admin/SubCategory/Index">Sản phẩm</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#Contact" class="has-arrow"><i class="icon-user"></i><span>Hệ thống</span></a>
                    <ul>
                        <li><a href="/Admin/UserRole/Index">Nhóm người dùng</a></li>
                        <li><a href="~/Admin/User/Index">Người dùng</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#Contact" class="has-arrow"><i class="icon-bubble"></i><span>Tin tức</span></a>
                    <ul>
                        <li><a href="/Admin/Content_Category/Index">Danh mục</a></li>
                        <li><a href="/Admin/Content/Index">Tin tức</a></li>
                        <li><a href="/Admin/Content/Create">Thêm mới</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#User" class="has-arrow"><i class="icon-wrench"></i><span>Quản lý chung</span></a>
                    <ul>
                        <li><a href="/Admin/About/Index">About</a></li>
                        <li><a href="/Admin/Footer/Index">Footer</a></li>
                        <li><a href="/Admin/Slide/Index">Slide</a></li>
                        <li><a href="/Admin/Menu/Index">Menu</a></li>
                        <li><a href="/Admin/Review/Index">Phản hồi</a></li>
                    </ul>
                </li>


            </ul>
        </nav>
    </div>
</div>
