@model List<Model.EF.Footer>
<div class="row">
    @foreach (var item in Model.Where(x => x.ParentID == null))
    {
        var subfooter = Model.Where(x => x.ParentID == item.ID);
        <article class="col-xl-3 col-lg-4 footer-info collapsed-block" data-section-type="storeInfo">
            <div class="widget-inner">
                <h5 class="footer-info-heading">
                    @item.Name
                    <span class="expander"><i class="fa fa-chevron-circle-down"></i></span>
                </h5>
                @if (subfooter.Count() > 0)
                {
                    <div class="footer-info-list address-footer">
                        @foreach (var subsubfooter in subfooter)
                        {
                            <div href="/footer/@subsubfooter.MetaTitle-@subsubfooter.ID"><i class="@subsubfooter.Icon"></i><span ><a href="@subsubfooter.Link">@subsubfooter.Name</a></span></div>
                        }
                    </div>
                }
            </div>
        </article>
    }
</div>
