@model List<Ecommerce.Models.CartItem>

<div class="header-bottom__cart">
    <ul class="navUser-section">
        <li class="navUser-item">
            <a class="cart-button cart-button--primary" @*data-cart-preview data-dropdown="cart-preview-dropdown"*@ href="/gio-hang">
                <div class="cart_ico">
                    <i class="fa fa-shopping-cart"></i>
                    <span id="CartCount" class="cout_cart text-countPill cart-quantity"> @Model.Count  </span>
                </div>
                <div class="cart_info">
                    <p class="text-shopping-cart">Shopping</p>
                    <span class="total_cart">
                        <span class="text-countPill cart-quantity">@Model.Count sản phẩm - </span>
                        <span class="cart-subtotal">$0.00</span>
                    </span>
                </div>
            </a>
            @*<div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content
                 aria-hidden="true"></div>*@
        </li>
    </ul>

</div>
